/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#basic-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

#stats {
    display: grid;
    grid-template-columns: 1fr;
}

form {
    display: grid;
    grid-template-rows: .25fr 1fr;
}

#details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#stats-and-skills {
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.stat-tile {
    border: solid;
    border-radius: 15px;
    margin: 10px;
}

.stat-num {
    width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 15px;   
    font-size: 20px;    
}

#proficiency-bonus{
    display: grid;
    grid-template-columns: .25fr 1fr;
    font-size: 15px;
    border: solid;
}

#throw-list{
    text-align: left;
    border: solid;
}

#skill-profs{
    text-align: left;
    border: solid;
}

#a-s{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.attack-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#attack-column-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#attackModal {
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
}

.overlay {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: #ffffff;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 2%;
    opacity: 0.9;
}

#new-attack-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

