#dashboard {
    display: grid;
    grid-template-columns: 20% 80%;
}

#main-dash {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
}

li {
    list-style: none;
    max-width: 500px;
    max-height: 500px;
}