#card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid;
    max-width: 600px;
    max-height: 500px;
    margin: 10px;
}

#stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 5px;
}

.stat {
    border: solid;
}