#card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid;
    max-width: 1000px;
    max-height: 1000px;
}

#stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}